In [108]:
import pandas as pd
from evaluate import *
from overlap_evaluate import *

import json

In [109]:
results = pd.read_csv("results/nq/t5-xl-ssm-nq_results.csv")

In [110]:
results.head()

,question,id,answers,prediction,overlap,em,f1,bert_score,meteor_score
0,who got the first nobel prize in physics,0,['Wilhelm Conrad Röntgen'],Wilhelm Conrad Röntgen,"['total', 'answer_overlap']",True,1.0,1.00000,0.981481
1,when is the next deadpool movie being released,1,"['May 18 , 2018']","May 18, 2018","['total', 'answer_overlap']",True,1.0,0.75861,0.992188
2,which mode is used for short wave broadcast se...,2,"['Olivia', 'MFSK']",CW,"['total', 'answer_overlap']",False,0.0,0.29394,0.000000
3,the south west wind blows across nigeria between,3,['till September'],between April and October,"['total', 'no_answer_overlap']",False,0.0,0.25939,0.000000
4,what does hp mean in war and order,4,['hit points or health points'],Heuristically programmed,"['total', 'no_answer_overlap']",False,0.0,-0.06745,0.000000

In [111]:
wrong_results = results[results['em'] == False]
tmp = []
for index, item in wrong_results.iterrows():
    # print(index)
    if 'no_answer_overlap' in ast.literal_eval(item['overlap']) and 'no_question_overlap' in ast.literal_eval(item['overlap']):
        tmp.append(dict(item))

In [112]:
no_overlap = pd.DataFrame(tmp)

In [113]:
no_overlap = no_overlap.sort_values('bert_score', ascending=False)

In [114]:
no_overlap.to_csv("results/bert_score_errors.csv", index=False)

In [115]:
no_overlap[0:15]

,question,id,answers,prediction,overlap,em,f1,bert_score,meteor_score
138,who was assassinated during a visit to sarajev...,1462,['Archduke Franz Ferdinand of Austria'],Archduke Franz Ferdinand,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.750000,0.82541,0.613426
63,total goals scored by ronaldo in la liga,634,['309'],311,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.81769,0.000000
144,when did the soviet union first gain control o...,1532,['14 June 1940'],17 September 1939,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.80312,0.000000
49,when is the new dumping ground coming out 2017,522,['15 December 2017'],13 October 2017,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.333333,0.79609,0.166667
8,how tall is the actor who plays hagrid in harr...,90,['6ft 1in'],6 ft 8 in,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.78260,0.000000
13,total number of mna in pakistan national assembly,130,"['332', '332 members']",342,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.78139,0.000000
232,what type of legal system is used in the uk,2493,"['Scots law', 'Northern Ireland law', 'English...",English common law,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.800000,0.77656,0.476190
2,what is the main mineral in lithium batteries,20,"['lithium', 'Lithium']",lithium ions,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.666667,0.76346,0.454545
235,when was the titanic started to be built,2532,['31 March 1909'],10 April 1912,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.75508,0.000000
72,what was the religion in persia before islam,700,"['Zoroastrian', 'the Zoroastrian religion']",Zoroastrianism,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.74501,0.500000
111,how many players in football hall of fame,1161,"['318 individuals', '318']",323 people,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.72747,0.000000
129,which mirror is used in vehicles for rear view,1395,['rear - view mirror'],rear-view mirror,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.400000,0.72726,0.131579
230,where did immigrants enter the us on the west ...,2489,"['Angel Island Immigration Station', 'San Fran...",San Francisco,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.800000,0.72439,0.646552
6,what is the point of a menstrual cup,70,"['to collect menstrual flow', 'collect menstru...",to collect ejaculation,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.571429,0.70054,0.480769
249,is it marley and me or marley and i,2690,['Marley & Me'],Marley and I,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.400000,0.69761,0.166667

In [116]:
no_overlap = no_overlap.sort_values('meteor_score', ascending=False)

In [117]:
no_overlap[0:15]

,question,id,answers,prediction,overlap,em,f1,bert_score,meteor_score
80,a good that can be used in place of another good,752,"['substitute good', 'A substitute good']",substitute goods,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.500000,0.63368,0.937500
56,which episode does gideon die in criminal minds,578,"[""`` Nelson 's Sparrow ''"", ""Nelson 's Sparrow""]","""Nelson's Sparrow""","['total', 'no_answer_overlap', 'no_question_ov...",False,0.400000,0.54157,0.920139
218,one piece english dubbed episode 564 release date,2340,"['September 16 , 2012']","September 16, 2018","['total', 'no_answer_overlap', 'no_question_ov...",False,0.666667,0.50892,0.736111
182,what is the meaning of auv in cars,1887,['action utility vehicles'],utility vehicle,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.400000,0.57912,0.646552
230,where did immigrants enter the us on the west ...,2489,"['Angel Island Immigration Station', 'San Fran...",San Francisco,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.800000,0.72439,0.646552
138,who was assassinated during a visit to sarajev...,1462,['Archduke Franz Ferdinand of Austria'],Archduke Franz Ferdinand,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.750000,0.82541,0.613426
72,what was the religion in persia before islam,700,"['Zoroastrian', 'the Zoroastrian religion']",Zoroastrianism,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.74501,0.500000
318,who are the only 2 families that have had 3 ge...,3395,"['Farrow / Previn / Allens', 'the Coppolas', '...",Coppola,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.41626,0.500000
220,what happens when iron reacts with oxygen and ...,2352,['Rust'],rusting,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.01402,0.500000
6,what is the point of a menstrual cup,70,"['to collect menstrual flow', 'collect menstru...",to collect ejaculation,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.571429,0.70054,0.480769
232,what type of legal system is used in the uk,2493,"['Scots law', 'Northern Ireland law', 'English...",English common law,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.800000,0.77656,0.476190
164,when was the last episode of vampire diaries a...,1722,"['March 10 , 2017']","June 23, 2017","['total', 'no_answer_overlap', 'no_question_ov...",False,0.333333,0.56940,0.468750
281,when did seat belts become law in ontario,3046,"['January 1 , 1976']","October 1, 1977","['total', 'no_answer_overlap', 'no_question_ov...",False,0.333333,0.62113,0.468750
2,what is the main mineral in lithium batteries,20,"['lithium', 'Lithium']",lithium ions,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.666667,0.76346,0.454545
52,what is the source of information for account ...,534,['invoices'],the invoice,"['total', 'no_answer_overlap', 'no_question_ov...",False,0.000000,0.52938,0.454545

In [118]:
no_overlap.to_csv("results/meteor_score_errors.csv", index=False)

In [91]:
import numpy as np

In [92]:
np.corrcoef(list(results['bert_score']), list(results['meteor_score']))

array([[1.       , 0.7740957],
       [0.7740957, 1.       ]])

In [93]:
np.corrcoef(list(no_overlap['bert_score']), list(no_overlap['meteor_score']))

array([[1.        , 0.58797938],
       [0.58797938, 1.        ]])

In [94]:
np.corrcoef(list(no_overlap['meteor']), list(no_overlap['exact_match']))

KeyError: 'meteor'

In [79]:
from scipy.stats.stats import pearsonr

/var/folders/5c/rh_j56vx44n9xrrr4x_wcf0m0000gn/T/ipykernel_55294/2554227351.py:1: DeprecationWarning: Please use `pearsonr` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  from scipy.stats.stats import pearsonr

In [80]:
pearsonr(list(no_overlap['bert_score']), list(no_overlap['meteor_score'])) # proves correlation is significant!

(0.5071170150111484, 2.0575498323099597e-81)